src/__pycache__/ImageClassification.cpython-313.pyc
src/__pycache__/DuplicateImageIdentifier.cpython-313.pyc
build/**
Output/**
dist/** 
models/**
store_package/** 
PhotoSift.msix
photosift.pfx
devcert.pfx
test.pfx
resources/Photo Unwanted (2).png
resources/redesign the window .png
